<div class="nav-panel__nav-links nav-links">
    <ul class="nav-links__list">
        <li class="nav-links__item nav-links__item--with-submenu">
            <a href="index.html"><span>خانه <svg class="nav-links__arrow" width="9px" height="6px"><use xlink:href="@Url.Content("~/lib/images/sprite.svg#arrow-rounded-down-9x6")"></use></svg></span></a>
            <div class="nav-links__menu">
                <!-- .menu -->
                <ul class="menu menu--layout--classic">
                    <li><a href="index.html">خانه 1</a></li>
                    <li><a href="index-2.html">خانه 2</a></li>
                </ul>
                <!-- .menu / end -->
            </div>
        </li>
        <li class="nav-links__item nav-links__item--with-submenu">
            <a href=""><span>مگامنو <svg class="nav-links__arrow" width="9px" height="6px"><use xlink:href="@Url.Content("~/lib/images/sprite.svg#arrow-rounded-down-9x6")"></use></svg></span></a>
            <div class="nav-links__megamenu nav-links__megamenu--size--nl">
                <!-- .megamenu -->
                <div class="megamenu">
                    <div class="row">
                        <div class="col-6">
                            <ul class="megamenu__links megamenu__links--level--0">
                                <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="">ابزار برقی</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                        <li class="megamenu__item"><a href="">نگارندگان</a></li>
                                        <li class="megamenu__item"><a href="">آچار ها</a></li>
                                        <li class="megamenu__item"><a href="">دیوار شکن</a></li>
                                        <li class="megamenu__item"><a href="">ابزار پنوماتیک</a></li>
                                    </ul>
                                </li>
                                <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="">ابزار ماشینی</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                        <li class="megamenu__item"><a href="">ابزار برش</a></li>
                                        <li class="megamenu__item"><a href="">دمنده</a></li>
                                        <li class="megamenu__item"><a href="">ماشین های تیز کننده</a></li>
                                        <li class="megamenu__item"><a href="">لوله بر</a></li>
                                        <li class="megamenu__item"><a href="">شکافنده</a></li>
                                        <li class="megamenu__item"><a href="">ماشین آلات</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="megamenu__links megamenu__links--level--0">
                                <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="">ابزار دستی</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                        <li class="megamenu__item"><a href="">پیچ گوشتی ها</a></li>
                                        <li class="megamenu__item"><a href="">اره دستی</a></li>
                                        <li class="megamenu__item"><a href="">چاقو ها</a></li>
                                        <li class="megamenu__item"><a href="">تبر ها</a></li>
                                        <li class="megamenu__item"><a href="">ابزار چندکاره</a></li>
                                        <li class="megamenu__item"><a href="">ابزار نقاشی</a></li>
                                    </ul>
                                </li>
                                <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="">تجهیزات باغبانی</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                        <li class="megamenu__item"><a href="">پمپ های موتور</a></li>
                                        <li class="megamenu__item"><a href="">اره برقی</a></li>
                                        <li class="megamenu__item"><a href="">اره الکتریکی</a></li>
                                        <li class="megamenu__item"><a href="">چمن زن</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .megamenu / end -->
            </div>
        </li>
        <li class="nav-links__item nav-links__item--with-submenu">
            <a href="shop-grid-3-columns-sidebar.html"><span>فروشگاه <svg class="nav-links__arrow" width="9px" height="6px"><use xlink:href="@Url.Content("~/lib/images/sprite.svg#arrow-rounded-down-9x6")"></use></svg></span></a>
            <div class="nav-links__menu">
                <!-- .menu -->
                <ul class="menu menu--layout--classic">
                    <li>
                        <a href="shop-grid-3-columns-sidebar.html">فروشگاه توری <svg class="menu__arrow" width="6px" height="9px"><use xlink:href="@Url.Content("~/lib/images/sprite.svg#arrow-rounded-right-6x9")"></use></svg></a>
                        <div class="menu__submenu">
                            <!-- .menu -->
                            <ul class="menu menu--layout--classic">
                                <li><a href="shop-grid-3-columns-sidebar.html">3 ستون با نوار کناری</a></li>
                                <li><a href="shop-grid-4-columns-full.html">4 ستون تمام عرض</a></li>
                                <li><a href="shop-grid-5-columns-full.html">5 ستون تمام عرض</a></li>
                            </ul>
                            <!-- .menu / end -->
                        </div>
                    </li>
                    <li><a href="shop-list.html">فروشگاه لیست</a></li>
                    <li><a href="shop-left-sidebar.html">فروشگاه نوار کناری چپ</a></li>
                    <li>
                        <a href="product.html">محصول <svg class="menu__arrow" width="6px" height="9px"><use xlink:href="@Url.Content("~/lib/images/sprite.svg#arrow-rounded-right-6x9")"></use></svg></a>
                        <div class="menu__submenu">
                            <!-- .menu -->
                            <ul class="menu menu--layout--classic">
                                <li><a href="product.html">محصول</a></li>
                                <li><a href="product-alt.html">محصول طرح 2</a></li>
                                <li><a href="product-sidebar.html">محصول با نوار کناری</a></li>
                            </ul>
                            <!-- .menu / end -->
                        </div>
                    </li>
                    <li><a href="cart.html">سبد خرید</a></li>
                    <li><a href="cart-empty.html">سبد خرید خالی</a></li>
                    <li><a href="checkout.html">پرداخت</a></li>
                    <li><a href="wishlist.html">لیست علاقه‌مندی‌ها</a></li>
                    <li><a href="compare.html">مقایسه</a></li>
                    <li><a href="track-order.html">پیگیری سفارش</a></li>
                </ul>
                <!-- .menu / end -->
            </div>
        </li>
        <li class="nav-links__item nav-links__item--with-submenu">
            <a href="account-login.html"><span>حساب کاربری <svg class="nav-links__arrow" width="9px" height="6px"><use xlink:href="@Url.Content("~/lib/images/sprite.svg#arrow-rounded-down-9x6")"></use></svg></span></a>
            <div class="nav-links__menu">
                <!-- .menu -->
                <ul class="menu menu--layout--classic">
                    <li><a href="@Url.Action("Login","Account")">ورود</a></li>
                    <li><a href="@Url.Action("Index","Account")">داشبورد</a></li>
                    <li><a href="@Url.Action("Profile")">پروفایل</a></li>
                    <li><a href="@Url.Action("Orders")">سابقه خرید</a></li>
                    <li><a href="@Url.Action("ChangePassword")">دفتر آدرس</a></li>
                    <li><a href="@Url.Action("ChangePassword")">تغییر رمز عبور</a></li>
                </ul>
                <!-- .menu / end -->
            </div>
        </li>
        <li class="nav-links__item nav-links__item--with-submenu">
            <a href="blog-classic.html"><span>بلاگ <svg class="nav-links__arrow" width="9px" height="6px"><use xlink:href="@Url.Content("~/lib/images/sprite.svg#arrow-rounded-down-9x6")"></use></svg></span></a>
            <div class="nav-links__menu">
                <!-- .menu -->
                <ul class="menu menu--layout--classic">
                    <li><a href="blog-classic.html">بلاگ کلاسیک</a></li>
                    <li><a href="blog-grid.html">بلاگ توری</a></li>
                    <li><a href="blog-list.html">بلاگ لیست</a></li>
                    <li><a href="blog-right-sidebar.html">بلاگ نوار کناری راست</a></li>
                    <li><a href="post.html">صفحه مطلب بلاگ</a></li>
                    <li><a href="post-without-sidebar.html">مطلب بدون نوار کناری</a></li>
                </ul>
                <!-- .menu / end -->
            </div>
        </li>
        <li class="nav-links__item"><a href="@Url.Action("AboutUs","Home")"><span>درباره ما</span></a></li>
        <li class="nav-links__item"><a href="@Url.Action("ContactUs","Home")"><span>تماس با ما</span></a></li>
    </ul>
</div>
<!-- .nav-links / end -->
<div class="nav-panel__indicators">
    <div class="indicator indicator--mobile">
        <a href="@Url.Action("index","Account")" class="indicator__button">
            <span class="indicator__area">
                <span class="indicator__value">محسن نورمحمدی</span>&nbsp;
                <i class="fas fa-user-alt"></i>
            </span>
        </a>
    </div>
    <div class="indicator indicator--trigger--click">
        <a href="cart.html" class="indicator__button">
            <span class="indicator__area">
                <i class="fas fa-shopping-cart"></i>&nbsp;
                <span class="indicator__value">3</span>
            </span>
        </a>
        <div class="indicator__dropdown">
            <!-- .dropcart -->
            <partial name="DropCartPV" />
            <!-- .dropcart / end -->
        </div>
    </div>
</div>