@model Store.Areas.Admin.Models.ViewModels.MainCategoryVM
@inject Store.Models.IService.Admin.IProductService _pservice
@{
    ViewData["Title"] = "MainCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<Store.Models.DataBase.Entities.MainCategory> mainCatrgories = _pservice.GetMainCategories();
}
@section css{


}
<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="col-md-12 alert-success">
            <form asp-action="MainCategory" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-3">
                    <label asp-for="Name" class="control-label"></label>:
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="EName" class="control-label"></label>:
                    <input asp-for="EName" class="form-control" />
                    <span asp-validation-for="EName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="OrderNumber" class="control-label"></label>:
                    <input asp-for="OrderNumber" class="form-control" />
                    <span asp-validation-for="OrderNumber" class="text-danger"></span>
                </div>
                <div class="row col-md-12">
                    <div class="form-group form-check col-md-3">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="submit" value="ایجاد گروه اصلی" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
        <div class="alert-info">
            <a asp-action="MainCategory" class=" btn-xs btn-warning">تازه سازی صفحه</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 alert-info">

            @if (mainCatrgories.Any())
            {
                <table class="table table-responsive table-striped table-bordered">
                    <thead>
                        <tr  style="color:black;font-weight:bold">
                            <td>
                                نام گروه
                            </td>
                            <td>
                                نام انگلیسی گروه
                            </td>
                            <td>
                                وضعیت
                            </td>
                            <td>
                                شماره اولویت نمایش
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in mainCatrgories.OrderByDescending(x=>x.OrderNumber))
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.EName
                                </td>
                                <td>
                                    @(item.IsActive ? "درحال نمایش" : "غیر فعال")
                                </td>
                                <td>
                                    @item.OrderNumber
                                </td>
                                <td>
                                    <a asp-action="EditMainCategory" asp-route-id="@item.MainCategoryId" class="btn-xs btn-info">ویرایش</a> |
                                    <a href="#" class="btn-xs btn-danger btndelete" id="@item.MainCategoryId">حذف</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(".btndelete").click(function () {
            var id = $(this).attr('id');
           //---------------------

            $.confirm({
                title: 'حذف محصول...',
                content: 'آیا از حذف مطمعن هستید؟',
                autoClose: 'انصراف|15000',

                buttons: {
                    deleteUser: {
                        text: 'تایید',
                        action: function () {
                           $.ajax({
                                        type: "POST",
                                        url: '@Url.Action("DeleteMainCategory", "Dashboard")',
                                        data: { main_category_id:id },
                                        dataType: "Json",
                               success: function (result) {
                                   if (result.Result == true) {
                                       window.location.reload();

                                   } else {
                                       $.alert("بنا به دلایلی حذف انجام نشد");
                                   }
                               },
                               error: function ()
                               {
                                          $.alert("خطایی رخ داده است. مجددا تلاش کنید!");
                               }
                           });
                        }
                    },
                    انصراف: function () {

                    }
                }
            });
            //------------------
        });
    </script>
}
