
@{
    ViewData["Title"] = "| صفحه اصلی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site__body">
    <!-- .block-slideshow -->
    <div class="block-slideshow block-slideshow--layout--with-departments block">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 d-none d-lg-block"></div>
                <div class="col-12 col-lg-9">
                    <partial name="SliderPV" />
                </div>
            </div>
        </div>
    </div>
    <!-- .block-slideshow / end -->
    <!-- .block-features -->
    <div class="block block-features block-features--layout--classic">
        <div class="container">
            <div class="block-features__list">
                <div class="block-features__item">
                    <div class="block-features__icon">
                        <svg width="48px" height="48px">
                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#fi-free-delivery-48")"></use>
                        </svg>
                    </div>
                    <div class="block-features__content">
                        <div class="block-features__title">ارسال رایگان</div>
                        <div class="block-features__subtitle">لورم ایپسوم متن ساختگی</div>
                    </div>
                </div>
                <div class="block-features__divider"></div>
                <div class="block-features__item">
                    <div class="block-features__icon">
                        <svg width="48px" height="48px">
                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#fi-24-hours-48")"></use>
                        </svg>
                    </div>
                    <div class="block-features__content">
                        <div class="block-features__title">پشتیبانی 24 ساعته</div>
                        <div class="block-features__subtitle">هر زمان تماس بگیرید</div>
                    </div>
                </div>
                <div class="block-features__divider"></div>
                <div class="block-features__item">
                    <div class="block-features__icon">
                        <svg width="48px" height="48px">
                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#fi-payment-security-48")"></use>
                        </svg>
                    </div>
                    <div class="block-features__content">
                        <div class="block-features__title">100% امن</div>
                        <div class="block-features__subtitle">پرداخت های امن</div>
                    </div>
                </div>
                <div class="block-features__divider"></div>
                <div class="block-features__item">
                    <div class="block-features__icon">
                        <svg width="48px" height="48px">
                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#fi-tag-48")"></use>
                        </svg>
                    </div>
                    <div class="block-features__content">
                        <div class="block-features__title">پیشنهادات داغ</div>
                        <div class="block-features__subtitle">تخفیف تا 90%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .block-features / end -->
    <!-- .block-products-carousel -->
    <div class="block block-products-carousel" data-layout="grid-4">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">محصولات ویژه</h3>
                <div class="block-header__divider"></div>
                <div class="block-header__arrows-list">
                    <button class="block-header__arrow block-header__arrow--left" type="button">
                        <i class="fas fa-angle-right"></i>
                    </button>
                    <button class="block-header__arrow block-header__arrow--right" type="button">
                        <i class="fas fa-angle-left"></i>
                    </button>
                </div>
            </div>
            <div class="block-products-carousel__slider">
                <div class="block-products-carousel__preloader"></div>
                <div class="owl-carousel">

                    @for (int i = 0; i < 4; i++)
                    {
                        <div class="block-products-carousel__column">
                            <div class="block-products-carousel__cell">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="product.html"><img src="@Url.Content("~/lib/images/products/product-6.jpg")" alt=""></a>
                                    </div>
                                    <div class="product-card__info">
                                        <div class="product-card__name"><a href="product.html">ماشین دریل برندیکس مدل 4KW 200 وات</a></div>
                                        <div class="product-card__rating">
                                            <div class="rating">
                                                <div class="rating__body">
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-card__rating-legend">7 نقد و بررسی</div>
                                        </div>
                                        <ul class="product-card__features-list">
                                            <li>سرعت: 750 RPM</li>
                                            <li>منبع تغزیه: برق</li>
                                            <li>نوع باتری: لیتیوم</li>
                                            <li>ولتاژ: 20 ولت</li>
                                            <li>ظرفیت باتری: 2 ساعت</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div>
                                        <div class="product-card__prices">3,199,000 تومان</div>
                                        <div class="product-card__buttons">
                                            <button class="btn btn-primary product-card__addtocart" type="button">افزودن به سبد</button>
                                            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">افزودن به سبد</button>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#wishlist-16")"></use>
                                                </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                            </button>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#compare-16")"></use>
                                                </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- .block-products-carousel / end -->
    <!-- .block-banner -->
    <partial name="BanerPV" />
    <!-- .block-banner / end -->
    <!-- .block-products -->
    <div class="block block-products block-products--layout--large-first">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">پرفروش ترین ها</h3>
                <div class="block-header__divider"></div>
            </div>
            <div class="block-products__body">
                <div class="block-products__featured">
                    <div class="block-products__featured-item">
                        <div class="product-card">
                            <div class="product-card__badges-list">
                                <div class="product-card__badge product-card__badge--new">جدید</div>
                            </div>
                            <div class="product-card__image">
                                <a href="product.html"><img src="@Url.Content("~/lib/images/products/product-1.jpg")" alt=""></a>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name"><a href="product.html">اره برقی برندیکس مدل 300 وات</a></div>
                                <div class="product-card__rating">
                                    <div class="rating">
                                        <div class="rating__body">
                                            <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div>
                                            <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div>
                                            <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div>
                                            <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge rating__star--active">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div>
                                            <svg class="rating__star" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                </g>
                                            </svg>
                                            <div class="rating__star rating__star--only-edge">
                                                <div class="rating__fill">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                                <div class="rating__stroke">
                                                    <div class="fake-svg-icon"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-card__rating-legend">9 نقد و بررسی</div>
                                </div>
                                <ul class="product-card__features-list">
                                    <li>سرعت: 750 RPM</li>
                                    <li>منبع تغزیه: برق</li>
                                    <li>نوع باتری: لیتیوم</li>
                                    <li>ولتاژ: 20 ولت</li>
                                    <li>ظرفیت باتری: 2 ساعت</li>
                                </ul>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div>
                                <div class="product-card__prices">749,000 تومان</div>
                                <div class="product-card__buttons">
                                    <button class="btn btn-primary product-card__addtocart" type="button">افزودن به سبد</button>
                                    <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">افزودن به سبد</button>
                                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#wishlist-16")"></use>
                                        </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                    </button>
                                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#compare-16")"></use>
                                        </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-products__list">

                    @for (int i = 0; i < 6; i++)
                    {
                        <div class="block-products__list-item">
                            <div class="product-card">
                                <div class="product-card__badges-list">
                                    <div class="product-card__badge product-card__badge--sale">فروش</div>
                                </div>
                                <div class="product-card__image">
                                    <a href="product.html"><img src="@Url.Content("~/lib/images/products/product-4.jpg")" alt=""></a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name"><a href="product.html">دریل برندیکس سری 3 مدل 2018</a></div>
                                    <div class="product-card__rating">
                                        <div class="rating">
                                            <div class="rating__body">
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card__rating-legend">7 نقد و بررسی</div>
                                    </div>
                                    <ul class="product-card__features-list">
                                        <li>سرعت: 750 RPM</li>
                                        <li>منبع تغزیه: برق</li>
                                        <li>نوع باتری: لیتیوم</li>
                                        <li>ولتاژ: 20 ولت</li>
                                        <li>ظرفیت باتری: 2 ساعت</li>
                                    </ul>
                                </div>
                                <div class="product-card__actions">
                                    <div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div>
                                    <div class="product-card__prices"><span class="product-card__new-price">949,000 تومان</span> <span class="product-card__old-price">1,189,000 تومان</span></div>
                                    <div class="product-card__buttons">
                                        <button class="btn btn-primary product-card__addtocart" type="button">افزودن به سبد</button>
                                        <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">افزودن به سبد</button>
                                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                            <svg width="16px" height="16px">
                                                <use xlink:href="@Url.Content("~/lib/images/sprite.svg#wishlist-16")"></use>
                                            </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                        </button>
                                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                            <svg width="16px" height="16px">
                                                <use xlink:href="@Url.Content("~/lib/images/sprite.svg#compare-16")"></use>
                                            </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- .block-products / end -->
    <!-- .block-categories -->
    <div class="block block--highlighted block-categories block-categories--layout--classic">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">دسته های محبوب</h3>
                <div class="block-header__divider"></div>
            </div>
            <div class="block-categories__list">
                <div class="block-categories__item category-card category-card--layout--classic">
                    <div class="category-card__body">
                        <div class="category-card__image">
                            <a href=""><img src="@Url.Content("~/lib/images/categories/category-1.jpg")" alt=""></a>
                        </div>
                        <div class="category-card__content">
                            <div class="category-card__name"><a href="">ابزار برقی</a></div>
                            <ul class="category-card__links">
                                <li><a href="">پیچ گوشتی ها</a></li>
                                <li><a href="">برش فرز</a></li>
                                <li><a href="">ماشین آلات شن و ماسه</a></li>
                                <li><a href="">آچار ها</a></li>
                                <li><a href="">دریل ها</a></li>
                            </ul>
                            <div class="category-card__all"><a href="">نمایش همه</a></div>
                            <div class="category-card__products">572 محصول</div>
                        </div>
                    </div>
                </div>
                <div class="block-categories__item category-card category-card--layout--classic">
                    <div class="category-card__body">
                        <div class="category-card__image">
                            <a href=""><img src="@Url.Content("~/lib/images/categories/category-2.jpg")" alt=""></a>
                        </div>
                        <div class="category-card__content">
                            <div class="category-card__name"><a href="">ابزار دستی</a></div>
                            <ul class="category-card__links">
                                <li><a href="">پیچ گوشتی ها</a></li>
                                <li><a href="">چکش ها</a></li>
                                <li><a href="">پیچ و مهره</a></li>
                                <li><a href="">اره دستی</a></li>
                                <li><a href="">ابزار نقاشی</a></li>
                            </ul>
                            <div class="category-card__all"><a href="">نمایش همه</a></div>
                            <div class="category-card__products">134 محصول</div>
                        </div>
                    </div>
                </div>
                <div class="block-categories__item category-card category-card--layout--classic">
                    <div class="category-card__body">
                        <div class="category-card__image">
                            <a href=""><img src="@Url.Content("~/lib/images/categories/category-4.jpg")" alt=""></a>
                        </div>
                        <div class="category-card__content">
                            <div class="category-card__name"><a href="">ابزار ماشینی</a></div>
                            <ul class="category-card__links">
                                <li><a href="">ماشین آلات</a></li>
                                <li><a href="">ماشین آلات فرز</a></li>
                                <li><a href="">ماشین آلات سنگ زنی</a></li>
                                <li><a href="">ماشین های CNC</a></li>
                                <li><a href="">ماشین های تیز کننده</a></li>
                            </ul>
                            <div class="category-card__all"><a href="">نمایش همه</a></div>
                            <div class="category-card__products">301 محصول</div>
                        </div>
                    </div>
                </div>
                <div class="block-categories__item category-card category-card--layout--classic">
                    <div class="category-card__body">
                        <div class="category-card__image">
                            <a href=""><img src="@Url.Content("~/lib/images/categories/category-3.jpg")" alt=""></a>
                        </div>
                        <div class="category-card__content">
                            <div class="category-card__name"><a href="">ماشین آلات برقی</a></div>
                            <ul class="category-card__links">
                                <li><a href="">ژنراتور ها</a></li>
                                <li><a href="">کمپرسور ها</a></li>
                                <li><a href="">جک برقی</a></li>
                                <li><a href="">برش پلاسما</a></li>
                                <li><a href="">موتورهای الکتریکی</a></li>
                            </ul>
                            <div class="category-card__all"><a href="">نمایش همه</a></div>
                            <div class="category-card__products">79 محصول</div>
                        </div>
                    </div>
                </div>
                <div class="block-categories__item category-card category-card--layout--classic">
                    <div class="category-card__body">
                        <div class="category-card__image">
                            <a href=""><img src="@Url.Content("~/lib/images/categories/category-5.jpg")" alt=""></a>
                        </div>
                        <div class="category-card__content">
                            <div class="category-card__name"><a href="">اندازه گیری</a></div>
                            <ul class="category-card__links">
                                <li><a href="">اندازه گیری نواری</a></li>
                                <li><a href="">دوربین های مهندسی</a></li>
                                <li><a href="">تصویربرداری حرارتی</a></li>
                                <li><a href="">کولیس ها</a></li>
                                <li><a href="">تراز ها</a></li>
                            </ul>
                            <div class="category-card__all"><a href="">نمایش همه</a></div>
                            <div class="category-card__products">366 محصول</div>
                        </div>
                    </div>
                </div>
                <div class="block-categories__item category-card category-card--layout--classic">
                    <div class="category-card__body">
                        <div class="category-card__image">
                            <a href=""><img src="@Url.Content("~/lib/images/categories/category-6.jpg")" alt=""></a>
                        </div>
                        <div class="category-card__content">
                            <div class="category-card__name"><a href="">لباس کار</a></div>
                            <ul class="category-card__links">
                                <li><a href="">لباس کار زمستانی</a></li>
                                <li><a href="">لباس کار تابستانی</a></li>
                                <li><a href="">کلاه ایمنی</a></li>
                                <li><a href="">کمربند ایمنی</a></li>
                                <li><a href="">کفش های کار</a></li>
                            </ul>
                            <div class="category-card__all"><a href="">نمایش همه</a></div>
                            <div class="category-card__products">81 محصول</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .block-categories / end -->
    <!-- .block-products-carousel -->
    <!-- .block-products-carousel / end -->
    <!-- .block-posts -->
    <!-- .block-posts / end -->
    <!-- .block-brands -->
    <!-- .block-brands / end -->
    <!-- .block-product-columns -->
    <div class="block block-product-columns d-lg-block d-none">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="block-header">
                        <h3 class="block-header__title">محصولات امتیاز بالا</h3>
                        <div class="block-header__divider"></div>
                    </div>
                    <div class="block-product-columns__column">
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="block-product-columns__item">
                                <div class="product-card product-card--layout--horizontal">
                                    <div class="product-card__badges-list">
                                        <div class="product-card__badge product-card__badge--new">جدید</div>
                                    </div>
                                    <div class="product-card__image">
                                        <a href="product.html"><img src="@Url.Content("~/lib/images/products/product-1.jpg")" alt=""></a>
                                    </div>
                                    <div class="product-card__info">
                                        <div class="product-card__name"><a href="product.html">اره برقی برندیکس مدل 300 وات</a></div>
                                        <div class="product-card__rating">
                                            <div class="rating">
                                                <div class="rating__body">
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-card__rating-legend">9 نقد و بررسی</div>
                                        </div>
                                        <ul class="product-card__features-list">
                                            <li>سرعت: 750 RPM</li>
                                            <li>منبع تغزیه: برق</li>
                                            <li>نوع باتری: لیتیوم</li>
                                            <li>ولتاژ: 20 ولت</li>
                                            <li>ظرفیت باتری: 2 ساعت</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div>
                                        <div class="product-card__prices">749,000 تومان</div>
                                        <div class="product-card__buttons">
                                            <button class="btn btn-primary product-card__addtocart" type="button">افزودن به سبد</button>
                                            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">افزودن به سبد</button>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#wishlist-16")"></use>
                                                </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                            </button>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#compare-16")"></use>
                                                </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-4">
                    <div class="block-header">
                        <h3 class="block-header__title">پیشنهادهای ویژه</h3>
                        <div class="block-header__divider"></div>
                    </div>
                    <div class="block-product-columns__column">
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="block-product-columns__item">
                                <div class="product-card product-card--layout--horizontal">
                                    <div class="product-card__badges-list">
                                        <div class="product-card__badge product-card__badge--sale">فروش</div>
                                    </div>
                                    <div class="product-card__image">
                                        <a href="product.html"><img src="@Url.Content("~/lib/images/products/product-4.jpg")" alt=""></a>
                                    </div>
                                    <div class="product-card__info">
                                        <div class="product-card__name"><a href="product.html">دریل برندیکس سری 3 مدل 2018</a></div>
                                        <div class="product-card__rating">
                                            <div class="rating">
                                                <div class="rating__body">
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-card__rating-legend">7 نقد و بررسی</div>
                                        </div>
                                        <ul class="product-card__features-list">
                                            <li>سرعت: 750 RPM</li>
                                            <li>منبع تغزیه: برق</li>
                                            <li>نوع باتری: لیتیوم</li>
                                            <li>ولتاژ: 20 ولت</li>
                                            <li>ظرفیت باتری: 2 ساعت</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div>
                                        <div class="product-card__prices"><span class="product-card__new-price">949,000 تومان</span> <span class="product-card__old-price">1,189,000 تومان</span></div>
                                        <div class="product-card__buttons">
                                            <button class="btn btn-primary product-card__addtocart" type="button">افزودن به سبد</button>
                                            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">افزودن به سبد</button>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#wishlist-16")"></use>
                                                </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                            </button>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#compare-16")"></use>
                                                </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                </div>
                <div class="col-4">
                    <div class="block-header">
                        <h3 class="block-header__title">پرفروش ترین ها</h3>
                        <div class="block-header__divider"></div>
                    </div>
                    <div class="block-product-columns__column">
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="block-product-columns__item">
                                <div class="product-card product-card--layout--horizontal">
                                    <div class="product-card__image">
                                        <a href="product.html"><img src="@Url.Content("~/lib/images/products/product-7.jpg")" alt=""></a>
                                    </div>
                                    <div class="product-card__info">
                                        <div class="product-card__name"><a href="product.html">انبردست های برندیکس</a></div>
                                        <div class="product-card__rating">
                                            <div class="rating">
                                                <div class="rating__body">
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge rating__star--active">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                    <svg class="rating__star" width="13px" height="12px">
                                                        <g class="rating__fill">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal")"></use>
                                                        </g>
                                                        <g class="rating__stroke">
                                                            <use xlink:href="@Url.Content("~/lib/images/sprite.svg#star-normal-stroke")"></use>
                                                        </g>
                                                    </svg>
                                                    <div class="rating__star rating__star--only-edge">
                                                        <div class="rating__fill">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                        <div class="rating__stroke">
                                                            <div class="fake-svg-icon"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-card__rating-legend">4 نقد و بررسی</div>
                                        </div>
                                        <ul class="product-card__features-list">
                                            <li>سرعت: 750 RPM</li>
                                            <li>منبع تغزیه: برق</li>
                                            <li>نوع باتری: لیتیوم</li>
                                            <li>ولتاژ: 20 ولت</li>
                                            <li>ظرفیت باتری: 2 ساعت</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div>
                                        <div class="product-card__prices">24,000 تومان</div>
                                        <div class="product-card__buttons">
                                            <button class="btn btn-primary product-card__addtocart" type="button">افزودن به سبد</button>
                                            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">افزودن به سبد</button>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#wishlist-16")"></use>
                                                </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                            </button>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="@Url.Content("~/lib/images/sprite.svg#compare-16")"></use>
                                                </svg> <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .block-product-columns / end -->
</div>
